<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Call History</title>
  <link rel="stylesheet" href="/css/call_history.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="nav-placeholder"></div>
  <div class="form_wrapper">
    <div class="title_container">
      <h1>Search Call History</h1>
    </div>
    <form id="search_form">
      <div class="inputs_container">
        <div class="date_container">
          <input type="text" id="year_input" name="year" placeholder="Year">
          <select id="month_input" name="month">
            <option value="">-- Month --</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select id="day_input" name="day">
            <option value="">-- Day --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>
        <input type="text" id="patientAlias_input" name="patientAlias" placeholder="Patient Alias">
        <select id="status_input" name="status">
          <option value="">-- Select Call Status --</option>
          <option value="completed">Completed</option>
          <option value="no_show">No Show</option>
          <option value="cancelled_by_provider">Cancelled by Provider</option>
          <option value="cancelled_by_patient">Cancelled by Patient</option>
        </select>
      </div>

      <div class="submit_link_container">
        <button class="inactive_button" id="submit_button" type="submit" disabled>Search</button>
      </div>
    </form>

    <div id="calls">
    </div>
    <div id="error_message_div">
      <p id="error_message">Fetch failure. Please try again.</p>
    </div>
  </div>

  <script type="module" src="/js/call_history/index.js"></script>
  <script src="/js/navbar.js"></script>
</body>

</html>