<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Link</title>
</head>
<body>
     <h2>Generate a Shareable Link</h2>

  <div>
    <input type="text" id="linkOutput" readonly placeholder="Your link will appear here" />
    <button id="copyBtn">Copy</button>
  </div>

  <button id="createLinkBtn">Generate Link</button>
  
<script src="/js/create_link.js"></script>
</body>
</html>