<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Link</title>
</head>
<body>
    <h1>Generate a Shareable Link</h1>

  <button id="createLinkBtn">Generate Link</button>
  <div class="input_container">
    <input type="text" id="linkOutput" readonly placeholder="Your link will appear here" />
    <button id="copyBtn">Copy</button>
  </div>

  <h2>Send link to patient:</h2>
  <form id="contact_form">
    <div class="input_container">
      <label for="patientPhoneNum">Patient's Phone Number:</label>
      <input type="phone" placeholder="(123) 456 7890">
    </div>
    <div class="input_container">
      <label for="patientEmail">Patient's Email:</label>
      <input type="email"  placeholder="JohnDoe@email.com">
    </div>
    <button type="submit">Send Link</button>
  </form>


<script src="/js/contact_patient.js"></script>
<script src="/js/create_link.js"></script>
</body>
</html>