<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error</title>
  <link rel="stylesheet" href="/css/error_page.css">
</head>

<body>
  <div id="error_content">
    <div class="image_container">
      <img src="/media/images/no-connection.png" alt="Error">
    </div>

    <div class="error_message_container">
      <div id="message">
        <h1>So Sorry!</h1>
        <h3>We have encountered an error.</h3>
      </div>

      <div id="options">
        <h4>Where to go from here:</h4>
        <div class="button_nav_container">
          <a href="/">Home</a>
          <a href="auth/login">Login</a>
          <a href="auth/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>