<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WellWave Health</title>
  <link rel="stylesheet" href="/css/landingpage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href=""><img src="/media/images/WWH_Small_Logo.png" alt="Logo" /></a>
    <div class="nav_right_container">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">WORKFLOW</a></li>
      </ul>
      <div class="button_nav_container">
        <a href="auth/login">Login</a>
        <a href="auth/signup">Sign Up</a>
      </div>
    </div>
  </nav>
  <main>
    <section id="welcome">
      <div id="welcome_container" class="container">
        <div class="welcome_text">
          <h3>Welcome to</h3>
          <h1>WELLWAVE</h1>
          <h2>Virtual Health</h2>
          <h4>
            In partnership with the Nova Scotia Health Authority to support secure and consistent virtual care, offering clinicians in Nova Scotia a secure and consistent way to reach and care for their patients online.
          </h4>
        </div>
        <div class="button_welcome_container">
          <a href="auth/login">Login</a>
          <a href="auth/signup">Sign Up</a>
        </div>

        <div class="welcome_image">
          <img src="/media/images/Screenshot 2025-06-28 at 9.47.24 PM-Photoroom.png" alt="WellWave Health Image" />
        </div>
      </div>
    </section>
    <section id="benefits">
      <div id="benefits_container">
        <div class="benefits_text">
          <h2>Why Choose WellWave Health?</h2>
        </div>
        <div class="benefit_card_container">
          <div class="card">
            <h3>Secure Virtual Care</h3>
            <p>End-to-end <strong>encrypted video calls</strong> keep patient information private and secure, in line with Nova Scotia Health Authority standards.</p>
          </div>
          <div class="card">
            <h3>Streamlined Access</h3>
            <p>Patients can connect with their provider in just one click—no downloads, no confusion. <strong>No extra apps, no setup</strong>—just click and join the call instantly.</p>
          </div>
          <div class="card">
            <h3>Real-Time Notes</h3>
            <p>Clinicians can record notes during the session, <strong>streamlining documentation</strong> and enabling them to focus entirely on patient care.</p>
          </div>
          <div class="card">
            <h3>Efficient Workflow</h3>
            <p>Appointments, notes, and call history are managed in one place—giving providers a <strong>clear, organized view</strong> of each patient’s care journey.</p>
          </div>
        </div>
      </div>

    </section>
    <section id="workflow">
    </section>
  </main>
</body>

</html>