<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WellWave Health</title>
  <link rel="stylesheet" href="/css/landingpage.css" />
  <link rel="stylesheet" href="/css/call_history.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href=""><img src="/media/images/WWH_Small_Logo.png" alt=""></a>
    <ul>
      <li><a href="">HOME</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">WORKFLOW</a></li>
    </ul>
    <div id="button_nav_container">
      <a href="">Login</a>
      <a href="">Sign Up</a>
    </div>
  </nav>
  <main>
    <section id="welcome">
      <div id="welcome_message_container">
        <h3>Welcome to</h3>
        <h1>WELLWAVE</h1>
        <h2>Virtual Health</h2>
        <h4>Parterned with Nova Scotia Health Authority</h4>
        <div class="welcome_buttons_container">
          <a href="">Login</a>
          <a href="">Sign Up</a>
        </div>
      </div>
    </section>
    <section id="quick_summary"></section>
    <section id="more_info"></section>
  </main>
</body>

</html>