<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WellWave Health</title>
  <link rel="stylesheet" href="/css/landingpage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href=""><img src="/media/images/WWH_Small_Logo.png" alt="Logo" /></a>
    <div class="nav_right_container">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">WORKFLOW</a></li>
      </ul>
      <div class="button_nav_container">
        <a href="auth/login">Login</a>
        <a href="auth/signup">Sign Up</a>
      </div>
    </div>
  </nav>
  <main>
    <section id="welcome">
      <div id="welcome_container" class="container">
        <div class="welcome_text">
          <h3>Welcome to</h3>
          <h1>WELLWAVE</h1>
          <h2>Virtual Health</h2>
          <h4>
            In partnership with the Nova Scotia Health Authority to support secure and consistent virtual care, offering clinicians a secure and consistent way to reach and care for their patients online.
          </h4>
        </div>
        <div class="button_welcome_container">
          <a href="auth/login">Login</a>
          <a href="auth/signup">Sign Up</a>
        </div>

        <div class="welcome_media">
          <div class="welcome_image">
            <img src="/media/images/Screenshot 2025-06-28 at 9.47.24 PM-Photoroom.png" alt="WellWave Health Image" />
          </div>
          <div class="welcome_slogan">
            <img src="/media/images/landingpage/clock-hand-drawn-tool.png" alt="5 minutes">
            <h2>Give the first five minutes of appointments back to patient care—not setup.</h2>
          </div>
        </div>
        <h3 class="slogan">You provide care—not tech support. Your patients need access, not obstacles. <br> No third-party apps, downloads, or delays.</br></h3>


      </div>
    </section>
    <section id="benefits">
      <div id="benefits_container">
        <div class="benefits_text">
          <h2>Why Choose WellWave Health?</h2>
        </div>
        <div class="benefit_card_container">
          <div class="card">
            <h3>Secure Virtual Care</h3>
            <p>End-to-end <strong>encrypted video calls</strong> keep patient information private and secure, in line with Nova Scotia Health Authority standards.</p>
          </div>
          <div class="card">
            <h3>Streamlined Access</h3>
            <p>Patients can connect with their provider in just one click—no downloads, no confusion. <strong>No extra apps, no setup</strong>—just click and join the call instantly.</p>
          </div>
          <div class="card">
            <h3>Real-Time Notes</h3>
            <p>Clinicians can record notes during the session, <strong>streamlining documentation</strong> and enabling them to focus entirely on patient care.</p>
          </div>
          <div class="card">
            <h3>Efficient Workflow</h3>
            <p>Appointments, notes, and call history are managed in one place—giving providers a <strong>clear, organized view</strong> of each patient’s care journey.</p>
          </div>
        </div>
      </div>

    </section>
    <section id="workflow">
      <div id="workflow_container">
        <div class="workflow_text">
          <h2>Workflow</h2>
        </div>
        <div class="workflow_steps">
          <div class="step">
            <div class="step_topic"></div>
            <div class="step_description">
              <div class="description_titles">
                <h3>Create Link</h3>
                <p>Create calls based off of your office's EMR appointments</p>
              </div>
              <ul>
                <li>Patient alias are used so that no identifiable information is stored by WellWave Health.</li>
                <li>Links are sent to the patient via email, phone number, or both!</li>
                <li>Create, cancel, join, or chart on calls easily.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>