<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WellWave Health</title>
  <link rel="stylesheet" href="/css/landingpage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="nav_wrapper">
    <nav>
      <a href=""><img src="/media/images/WWH_Small_Logo.png" alt="Logo" /></a>
      <div class="nav_right_container">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">WORKFLOW</a></li>
          <li>
            <div class="button_nav_container">
              <a href="auth/login">Login</a>
              <a href="auth/signup">Sign Up</a>
            </div>
          </li>
        </ul>
        <img id="menu_icon" src="/media/images/landingpage/menu-burger-blue.png" alt="Menu">
      </div>
    </nav>
    <div id="navigation_container">
      <ul>
        <li><a href="#welcome">Home</a></li>
        <li><a href="#benefits">Create Call Link</a></li>
        <li><a href="#workflow">Scheduled Calls</a></li>
      </ul>
      <div class="dropdown_nav_btn_container">
        <a href="auth/login">Login</a>
        <a href="auth/signup">Sign Up</a>
      </div>



    </div>
  </div>
  <main>
    <section id="welcome">
      <div id="welcome_container" class="container">
        <div class="welcome_text">
          <h3>Welcome to</h3>
          <div class="wellwave_header">
            <h1>WELLWAVE</h1>
            <h2>Virtual Health</h2>
          </div>
          <h4>
            WellWave Health is a platform designed to support clinicians and their practice's EMRs. While we retain records that a call occurred—including date, duration, and notes—we do not store any identifiable patient information. Instead, each appointment is stored under a clinician-recognizable alias, ensuring both proof of consultation and patient privacy.
          </h4>
        </div>
        <div class="button_welcome_container">
          <a href="auth/login">Login</a>
          <a href="auth/signup">Sign Up</a>
        </div>

        <div class="welcome_media">
          <div class="welcome_image">
            <img src="/media/images/Screenshot 2025-06-28 at 9.47.24 PM-Photoroom.png" alt="WellWave Health Image" />
          </div>
          <div class="welcome_slogan">
            <img src="/media/images/landingpage/clock-hand-drawn-tool.png" alt="5 minutes">
            <h2>Give the first five minutes of appointments back to patient care—not setup.</h2>
          </div>
        </div>
        <h3 class="slogan">You provide care—not tech support, and your patients need access—not obstacles. <br> No third-party apps. No downloads, or delays.</h3>
      </div>
    </section>

    <section id="benefits">
      <div id="benefits_container">
        <div class="benefits_text">
          <h2>Why Choose WellWave Health?</h2>
        </div>
        <div class="benefit_card_container">
          <div class="card">
            <h3>Secure Virtual Care</h3>
            <p>End-to-end <strong>encrypted video calls</strong> keep patient information private and secure, in line with Nova Scotia Health Authority standards.</p>
          </div>
          <div class="card">
            <h3>Streamlined Access</h3>
            <p>Patients can connect with their provider in just one click—no downloads, no confusion. <strong>No extra apps, no setup</strong>—just click and join the call instantly.</p>
          </div>
          <div class="card">
            <h3>Real-Time Notes</h3>
            <p>Clinicians can record notes during the session, <strong>streamlining documentation</strong> and enabling them to focus entirely on patient care.</p>
          </div>
          <div class="card">
            <h3>Efficient Workflow</h3>
            <p>Appointments, notes, and call history are managed in one place—giving providers a <strong>clear, organized view</strong> of each patient’s care journey.</p>
          </div>
        </div>
      </div>

    </section>
    <section id="workflow">
      <div id="workflow_container">
        <div class="workflow_text">
          <h2>Workflow</h2>
        </div>
        <div class="workflow_steps">
          <div class="step">
            <div class="step_topic">
              <video autoplay loop muted playsinline style="pointer-events: none;" width="100%" height="auto">
                <source src="/media/videos/landingpage/CreateCallVideo.mp4" type="video/mp4">
                <img src="/media/images/landingpage/createCallScreenshot.png" alt="Create Call">
              </video>
            </div>
            <div class="step_description">
              <div class="description_titles">
                <h3>Create Call Links</h3>
                <p>Create calls based off of your office's EMR appointments</p>
              </div>
              <div class="notable_points">
                <div class="point">
                  <img src="/media/images/landingpage/user-shield.png" alt="Send Links">
                  <div class="point_text">
                    <h4>Secure Patient Alises</h4>
                    <p>Patient aliases are used to avoid storing any identifiable information. Without access to your clinic’s medical records, these aliases are meaningless to outsiders—helping safeguard patient privacy.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/mailbox-envelope.png" alt="Send Links">
                  <div class="point_text">
                    <h4>Easily Contact Patients</h4>
                    <p>Call links are delivered to patients via email, text message, or both. With a single click—no downloads required—they can instantly join the appointment.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/select.png" alt="Send Links">
                  <div class="point_text">
                    <h4>Flexible Call Creation</h4>
                    <p>Providers have the flexibility to create calls at their convenience—either shortly before individual appointments or in advance for all scheduled sessions at the start of the day.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="step">
            <div class="step_topic">
              <img src="/media/images/landingpage/scheduledCallsScreenshot1.png" alt="View Scheduled Calls">
            </div>
            <div class="step_description">
              <div class="description_titles">
                <h3>View Scheduled Appointments</h3>
                <p>View all your calls for the day and join, cancel, or chart directly from one convenient dashboard</p>
              </div>
              <div class="notable_points">
                <div class="point">
                  <img src="/media/images/landingpage/portfolio.png" alt="Idle Calls">
                  <div class="point_text">
                    <h4>Record Attendance</h4>
                    <p>Document calls—even if unused—to track no-shows or cancellations and protect against disputed attendance.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/calendar-clock.png" alt="Idle Calls">
                  <div class="point_text">
                    <h4>Temporary by Design</h4>
                    <p>Didn’t use or document on the call? No worries—idle call links automatically expire after 24 hours, reducing the risk of unauthorized access and ensuring confidentiality.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/edit-alt.png" alt="Idle Calls">
                  <div class="point_text">
                    <h4>Convenient Charting</h4>
                    <p>Attended appointments needing further charting are saved and retained past the day’s end, so you can complete documentation at your convenience.
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>




          <div class="step">
            <div class="step_topic"></div>
            <div class="step_description">
              <div class="description_titles">
                <h3>Join Appointments</h3>
                <p>Join appointments at your convenience and your way, using the pre-call popup to adjust media settings before connecting</p>
              </div>
              <div class="notable_points">
                <div class="point">
                  <img src="/media/images/landingpage/patient-file.png" alt="Document In-Call">
                  <div class="point_text">
                    <h4>Real-Time Charting</h4>
                    <p>No switching tabs or scribbling on notepads—start charting within the call interface and finish later. Your notes stay saved after the session ends.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/heart-circle-user.png" alt="Customize Connection">
                  <div class="point_text">
                    <h4>Customize Connection</h4>
                    <p>Customize your audio and video preferences before entering the call. Mute yourself, enable or disable your camera, and control your connection with ease.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/time-quarter-past.png" alt="Start Call">
                  <div class="point_text">
                    <h4>Start Calls Anytime</h4>
                    <p>The call starts when you're ready—not at a fixed time. Wellwave automatically tracks its duration, offering verifiable proof that the session occurred.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>




          <div class="step">
            <div class="step_topic">
              <video autoplay loop muted playsinline style="pointer-events: none;" width="100%" height="auto">
                <source src="/media/videos/landingpage/callhistory.mp4" type="video/mp4">
                <img src="/media/images/landingpage/createCallScreenshot.png" alt="Create Call">
              </video>
            </div>
            <div class="step_description">
              <div class="description_titles">
                <h3>View Appointment History</h3>
                <p>Use your office’s EMR to identify the patient and appointment date, then apply the search filters to locate the corresponding call and verify that it took place</p>
              </div>
              <div class="notable_points">
                <div class="point">
                  <img src="/media/images/landingpage/magnifying-glass-wave.png" alt="Search">
                  <div class="point_text">
                    <h4>Filter Options</h4>
                    <p>Filter historical calls by date, and optionally add a patient alias, call status, or both to refine your search.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/notebook.png" alt="Review Notes">
                  <div class="point_text">
                    <h4>Review Notes</h4>
                    <p>View and review the notes you documented for each appointment to keep track of important details and ensure continuity of care.</p>
                  </div>
                </div>

                <div class="point">
                  <img src="/media/images/landingpage/attention-detail.png" alt="Quick View">
                  <div class="point_text">
                    <h4>Quick View</h4>
                    <p>Quickly view call details such as appointment duration, call time, and status—completed, cancelled, or no show.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
  <script>
    const menuIcon = document.getElementById("menu_icon");
    const navigationContainer = document.getElementById("navigation_container");
    menuIcon.addEventListener("click", () => {
      menuIcon.classList.toggle("show_menu");
      navigationContainer.classList.toggle("show_nav");
    });

    navigationContainer.addEventListener("mouseleave", () => {
      menuIcon.classList.toggle("show_menu");
      navigationContainer.classList.toggle("show_nav");
    });
  </script>
</body>

</html>