<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduled Calls</title>
  <link rel="stylesheet" href="/css/scheduled_calls.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="nav-placeholder"></div>
  <div id="wrapper">
    <div class="title_container">
      <h1>Today's Calls:</h1>
    </div>
    <div id="calls">
    </div>
  </div>


  <script src="/js/fetch_current_calls.js"></script>
  <script src="/js/navbar.js"></script>
</body>

</html>