*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #ede8e1;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ede8e1;
  box-sizing: border-box;
  border-bottom: 2px grey solid;
}

nav a img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  align-self: center;
  gap: 50px;
  list-style: none;
}

.nav_right_container {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  flex-shrink: 0;
}

nav ul a {
  text-decoration: none;
  color: #0e5467;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
nav ul a:hover {
  text-decoration: underline;
}

.button_nav_container a {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  padding: 10px 20px;
  background-color: #0e5467;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 3px;
  align-self: center;
}
.button_nav_container a:hover {
  background-color: #0b3f4d;
}

section {
  height: fit-content;
  width: 100%;
  background-color: #0e5467;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

section:nth-of-type(odd) {
  background-color: #ede8e1;
}

#welcome_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  color: #0e5467;
}

.welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 15px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.welcome_text h3 {
  font-family: "Libre Baskerville", serif;
}

#welcome_container h4 {
  width: 80vw;
  font-size: 1em;
  color: #828b8e;
}

.button_welcome_container a {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  padding: 10px 20px;
  background-color: #0e5467;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.button_welcome_container a:hover {
  background-color: #0b3f4d;
}

.welcome_media {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.welcome_image {
  background-color: #b4acc1;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_image img {
  width: 100%;
  height: auto;
}

.computer_doodle {
  position: absolute;
  top: -30px; /* move image above the top */
  left: -30px; /* optional: adjust how far it pokes out horizontally */
  width: 50%;
  opacity: 0.5;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.welcome_slogan {
  position: relative;
  background-color: #c7dfcf;
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* hides horizontal overflow */
  overflow-y: visible;
}

.welcome_slogan img {
  position: absolute;
  top: -30px; /* move image above the top */
  right: -30px; /* optional: adjust how far it pokes out horizontally */
  width: 50%;
  opacity: 0.5;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.welcome_slogan h2 {
  font-family: "Libre Baskerville", serif;
  position: relative;
  z-index: 1;
}

.slogan {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-style: italic;
  padding: 20px;
}

#benefits {
  background-image: url("/media/images/background_waves.png"); /* Change to your image path */
  background-size: cover; /* Cover entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

#benefits_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.benefits_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.benefits_text h2 {
  color: #cfe7eb;
}

.benefit_card_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 15%;
  min-width: 210px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  gap: 40px;
}

.card:hover {
  scale: 1.1;
}

.card p {
  color: #0e5467;
  font-size: 1.2em;
}

.card h3 {
  color: #fefefe;
  font-family: "Libre Baskerville", serif;
  min-height: 80px;
}

.benefit_card_container .card:nth-child(1) {
  background-color: #b4acc1;
}

.benefit_card_container .card:nth-child(2) {
  background-color: #c7dfcf;
}

.benefit_card_container .card:nth-child(3) {
  background-color: #c1b9ad;
}

.benefit_card_container .card:nth-child(4) {
  background-color: #bfb1ce;
}

#workflow_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  color: #0e5467;
}

.workflow_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.workflow_steps {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step {
  height: fit-content;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bfb1ce;
}

.step_topic {
  width: 50%;
}

.step_description {
  width: 50%;
}

@media (max-width: 600px) {
  #button_nav_container {
    display: none;
  }
  #button_nav_container {
    transition:
      opacity 0.8s ease,
      visibility 0.8s ease;
  }
  nav ul {
    gap: 30px;
  }
  nav ul {
    transition: gap 0.8s ease;
  }
  .welcome_media {
    flex-direction: column-reverse;
    height: auto;
  }

  .welcome_image,
  .welcome_slogan {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .welcome_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
