* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ede8e1ed;
  background-image: url("/media/images/homeBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  width: 60%;
  margin: 80px auto;
  padding: 60px;
}

.title_container {
  margin-top: -30px;
  margin-bottom: 20px;
  background-color: #2184a3;
  border-radius: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #ede8e1;
}

#calls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #00a9a7;
  height: auto;
  padding: 10px;
}
.call:hover {
  scale: 1.05;
}

.call_buttons_div {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.button {
  margin: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  border: none;
  color: #2184a3;
  background-color: #ede8e1;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
}

.button:hover {
  scale: 1.05;
}

.empty_calls_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .call_buttons_div {
    align-self: center;
  }
  .button {
    font-size: medium;
    font-weight: 500;
    transition: font-size 0.3s ease;
  }
}
